@use 'util' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html{
  font-size: 62.5%;
  height: 100vh;
}

body {
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
}
  
#app{
  height: 100%;
  width: 100%;
}
  
.container {
  height: 100%;
  // background-color: $dark-gray;
  display: flex;
  flex-direction: column;

  .search_wrapper{
    min-height: 35%;
    background-image: url('../images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .map_wrapper{
    min-height: calc(100% - 35%);
  }
}